@use '../../App.scss' as app;

.playlist{
  display: flex;
  width: 100%;
  gap: 8px;
  .sideview {
    display: flex;
    flex-direction: column;
    gap: 25px;
    min-width: 15vw;
    height: 98%;
    // @include app.boxshadow;

    .nav {
      display: flex;
      gap: 10px;
      #player-name {
        font-family: Lato;
      }
    }
    .musicList {
      font-size: 14px;
      overflow-y: scroll;
      &::-webkit-scrollbar {
        width: 6px;               /* width of the entire scrollbar */
      }
      &::-webkit-scrollbar-track {
        background: rgb(238, 238, 238);        /* color of the tracking area */
      }
      &::-webkit-scrollbar-thumb {
        background-color: app.$iconColorLight;    /* color of the scroll thumb */
        border-radius: 20px;       /* roundness of the scroll thumb */
        // border: 3px solid orange;  /* creates padding around scroll thumb */
      }
    
      
      .music-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 15px;
        cursor: pointer;
    
        .isPlaying-icon {
          font-size: 20px;
          margin-right: -6%;
        }
    
        .title-artist {
          width: 55%;
          list-style: none;
          text-decoration: none;;
          p {
              font-weight: bold;
          }
          .active {
            color: app.$albumTextColor;
          }
    
          .isPlaying {
              color: black;
          }
          #artist {
              color: app.$iconColorLight;
              font-size: 10px;
          }
        }
    
        .duration {
          color: app.$iconColorSec;
        }
        .like-icon {
          font-size: 18px;
          color: app.$iconColorSec;
          margin-right: 3%;
        }
        .iconRed {
          color: red;
        }
      }
    }
  }
}